@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 231 100% 94%;
    --foreground: 223 30% 20%;
    --card: 0 0% 100%;
    --card-foreground: 223 30% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 223 30% 20%;
    --primary: 223 65% 33%;
    --primary-foreground: 210 40% 98%;
    --secondary: 231 100% 90%;
    --secondary-foreground: 223 30% 20%;
    --muted: 231 100% 90%;
    --muted-foreground: 231 20% 55%;
    --accent: 258 92% 76%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 50% 85%;
    --input: 231 50% 88%;
    --ring: 258 92% 76%;
    --chart-1: 223 65% 33%;
    --chart-2: 258 92% 76%;
    --chart-3: 231 100% 90%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 223 30% 20%;
    --sidebar-primary: 223 65% 33%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 231 100% 94%;
    --sidebar-accent-foreground: 223 30% 20%;
    --sidebar-border: 231 50% 85%;
    --sidebar-ring: 258 92% 76%;
  }
  .dark {
    --background: 223 30% 10%;
    --foreground: 0 0% 98%;
    --card: 223 30% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 223 30% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 223 65% 33%;
    --secondary: 223 30% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 223 30% 15%;
    --muted-foreground: 231 20% 55%;
    --accent: 258 92% 76%;
    --accent-foreground: 223 30% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 223 30% 20%;
    --input: 223 30% 20%;
    --ring: 258 92% 76%;
    --chart-1: 210 40% 98%;
    --chart-2: 258 92% 76%;
    --chart-3: 223 30% 15%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 223 30% 12%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 210 40% 98%;
    --sidebar-primary-foreground: 223 65% 33%;
    --sidebar-accent: 223 30% 18%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 223 30% 20%;
    --sidebar-ring: 258 92% 76%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
